{% extends "base.html" %}
{% load static %} 
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid py-5" style="margin-bottom:100px">
  <h2 class="font-bold text-3xl text-white text-center pb-5">My Wishlist</h2>
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered table-striped">
              <thead class="bg-gray-200">
                <tr>
                  <th scope="col">Book</th>
                  <th scope="col">Title</th>
                  <th scope="col">Borrowing Price</th>
                  <th scope="col">Description</th>
                  <th scope="col">Borrow</th>
                  <th scope="col">Actions</th>
                  
                </tr>
              </thead>
              <tbody>
                {% for item in wishlist %}
                <tr>
                  <td>
                    {% if item.book.image %}
                    <img src="{{ item.book.image.url }}" alt="{{ item.book.title }}" style="width: 50px; height: 50px;">
                    {% else %}
                    <div class="w-16 h-16 bg-gray-300 rounded-full"></div>
                    {% endif %}
                  </td>
                  <td>{{ item.book.title }}</td>
                  <td>{{ item.book.borrowing_price }} taka</td>
                  <td>{{ item.book.description | truncatewords:7 }}</td>
                  <td>
                    <a href="{% url 'detail_book' item.book.id %}" class="btn btn-primary">Borrow</a>
                  </td>
                  <td>
                    <a href="{% url 'remove_from_wishlist' wishlist_id=item.id %}" class="btn btn-outline-danger">Remove</a>
                  </td>
                  
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
