
{% extends 'base.html' %} {% load static %} {% block head_title %}Library
Management System{% endblock %} {% block content %}
        

<section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
    <div class="container">
      <div class="row">
  
        <div class="col-lg-8 col-12 mx-auto">
          <h1 class="text-white text-center">Explore. Borrow. Read.</h1>
  
          <h6 class="text-center">Welcome to our Book Destiny</h6>
  
        
  
        </div>
        <form method="get" class="custom-form mt-4 pt-2 mb-lg-0 mb-5" role="search">
            <div class="input-group input-group-lg">
                <span class="input-group-text bi-search" id="basic-addon1">
                    
                </span>

                <input name="keyword" type="search" class="form-control" id="keyword" placeholder="Category, Book ..." aria-label="Search">

                <button type="submit" class="form-control">Search</button>
            </div>
        </form>
  
      </div>
    </div>
  </section>
  

            <section class="featured-section">
                <div class="container">
                    <div class="row justify-content-center">

                        <div class="col-lg-4 col-12 mb-4 mb-lg-0">
                            <div class="custom-block bg-white shadow-lg">
                                <a href="{% url 'about'%}">
                                    <div class="d-flex">
                                        <div>
                                            <h5 class="mb-2">Library Information</h5>

                                            <p class="mb-0">Explore our library's collection of books, journals, and other resources. We offer a diverse range of materials to support your learning and research needs.</p>
                                        </div>

                                        {% comment %} <span class="badge bg-design rounded-pill ms-auto">14</span> {% endcomment %}
                                    </div>

                                    <img src="{% static 'img/li.png'%}" class="custom-block-image img-fluid" alt="">
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12">
                            <div class="custom-block custom-block-overlay">
                                <div class="d-flex flex-column h-100">
                                   
                        
                                    <div class="custom-block-overlay-text d-flex">
                                        <div>
                                            <h5 class="text-white mb-2">Book Destiny</h5>
                        
                                            <p class="text-white">Learn about the efficient organization, cataloging, and circulation of books and resources in a library with our comprehensive guide to library management systems.</p>
                        
                                            <a href="{% url 'about'%}" class="btn custom-btn mt-2 mt-lg-3">Learn More</a>
                                        </div>
                        
                                       
                                    </div>
                        
                                    <div class="social-share d-flex">
                                        <p class="text-white me-4">Share:</p>
                        
                                        <ul class="social-icon">
                                            <li class="social-icon-item">
                                                <a href="#" class="social-icon-link bi-twitter"></a>
                                            </li>
                        
                                            <li class="social-icon-item">
                                                <a href="#" class="social-icon-link bi-facebook"></a>
                                            </li>
                        
                                            <li class="social-icon-item">
                                                <a href="#" class="social-icon-link bi-pinterest"></a>
                                            </li>
                                        </ul>
                        
                                        <a href="#" class="custom-icon bi-bookmark ms-auto"></a>
                                    </div>
                        
                                    <div class="section-overlay"></div>
                                </div>
                            </div>
                        </div>
                        

                    </div>
                </div>
            </section>


            <section class="explore-section section-padding" id="section_2">
                <div class="container">
                    <div class="row">

                        <div class="col-12 text-center">
                            <h2 class="mb-4">Browse Topics</h1>
                        </div>

                    </div>
                </div>


               
           
                <div class="dropdown text-center">
                    <button class="btn btn-lg dropdown-toggle mb-3" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #4B94A2; color: white;">
                        Categories
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark" style="background-color: white; ">
                        {% for cat in category %}
                        <li><a class="dropdown-item" href="{% url 'category_wise_book' cat.slug %}" style="color: black;">{{ cat.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                
                <div class="d-flex flex-wrap g-2">
                    {% for dt in data %}
                    <div class="col-lg-4 col-12  mb-lg-0 g-2">
                        <div class="custom-block bg-white  d-flex flex-column" >
                            <img src="{{ dt.image.url }}" class="card-img-top" style="height: 300px; object-fit: cover;" alt="">
                            <div class="card-body">
                                <h5 class="card-title">{{ dt.title }}</h5>
                                <h6 class="card-title">{{ dt.author }}</h6>
                                <h6 class="card-title">Available Status: {{ dt.availability_status }}</h6>
                                <h6 class="card-title">Borrow Price: {{ dt.borrowing_price }} taka</h6>
                                <p class="card-text">{{ dt.description|truncatewords:5 }}</p>
                                <div class="d-flex">
                                    <a href="{% url 'detail_book' dt.id %}" class="btn custom-btn mb-2">View Details</a>
                                    {% if user.is_authenticated %}
                                    <form method="post" action="{% url 'add_to_wishlist' book_id=dt.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn"><i class="fa-regular fa-heart"></i></button>
                                    </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                
                {% comment %} <div class="d-flex flex-wrap ">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="design-tab-pane" role="tabpanel" aria-labelledby="design-tab" tabindex="0">
                                        <div class="row">
                                            <h4>{{ data.0.Brand.name }} found: {{ data | length }}</h4>
                                            {% for dt in data %}
                                            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                                                <div class="card">
                                                    <img src="{{ dt.image.url }}" class="card-img-top" style="height: 300px; object-fit: cover;" alt="">
                                                    <div class="card-body">
                                                        <h5 class="card-title">{{ dt.title }}</h5>
                                                        <h6 class="card-title">{{ dt.author }}</h6>
                                                        {% comment %} <h6 class="card-title">{{ dt.ISBN }}</h6> {% endcomment %}
                                                        {% comment %} <h6 class="card-title">Available Status: {{ dt.availability_status }}</h6>
                                                        <h6 class="card-title">Borrow Price: {{ dt.borrowing_price }} taka</h6>
                                                        
                                                        <p class="card-text">{{ dt.description|truncatewords:5 }}</p>
                                                        <div class="d-flex">
                                                            <a href="{% url 'detail_book' dt.id %}" class="btn custom-btn mb-2" >View Details</a>
                                                        {% if user.is_authenticated %}
                                                        <form method="post" action="{% url 'add_to_wishlist' book_id=dt.id %}">
                                                            {% csrf_token %}
                                                            <button type="submit" class="btn" ><i class="fa-regular fa-heart"></i></button>
                                                        </form>
                                                        {% endif %}


                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> {% endcomment %}
                 
                
            </section>


            <section class="timeline-section section-padding" id="section_3">
                <div class="section-overlay"></div>
            
                <div class="container">
                    <div class="row">
            
                        <div class="col-12 text-center">
                            <h2 class="text-white mb-4">How does it work?</h2>
                        </div>
            
                        <div class="col-lg-10 col-12 mx-auto">
                            <div class="timeline-container">
                                <ul class="vertical-scrollable-timeline" id="vertical-scrollable-timeline">
                                    <div class="list-progress">
                                        <div class="inner"></div>
                                    </div>
            
                                    <li>
                                        <h4 class="text-white mb-3">Search for books and resources</h4>
            
                                        <p class="text-white">Explore our vast collection of books and educational resources by searching for your favorite topics or specific titles. Find everything you need to support your learning and research.</p>
            
                                        <div class="icon-holder">
                                            <i class="bi-search"></i>
                                        </div>
                                    </li>
                                    
                                    <li>
                                        <h4 class="text-white mb-3">Manage your reading list</h4>
            
                                        <p class="text-white">Keep track of your favorite books and resources by bookmarking them. Create your personal reading list and easily access your saved items whenever you want.</p>
            
                                        <div class="icon-holder">
                                            <i class="bi-bookmark"></i>
                                        </div>
                                    </li>
            
                                    <li>
                                        <h4 class="text-white mb-3">Enjoy reading</h4>
            
                                        <p class="text-white">Immerse yourself in the world of knowledge and enjoy reading your favorite books. Dive into captivating stories, insightful research, and enriching content tailored to your interests.</p>
            
                                        <div class="icon-holder">
                                            <i class="bi-book"></i>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
            
                        <div class="col-12 text-center mt-5">
                            <p class="text-white">
                                Want to learn more about our Book Destiny?
                                <a href="#" class="btn custom-btn custom-border-btn ms-3">Check out our features</a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            


            <section class="faq-section section-padding" id="section_4">
                <div class="container">
                    <div class="row">
            
                        <div class="col-lg-6 col-12">
                            <h2 class="mb-4">Frequently Asked Questions</h2>
                        </div>
            
                        <div class="clearfix"></div>
            
                        <div class="col-lg-5 col-12">
                            <img src="{% static 'images/faq_graphic.jpg'%}" class="img-fluid" alt="FAQs">
                        </div>
            
                        <div class="col-lg-6 col-12 m-auto">
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        What is a library management system?
                                        </button>
                                    </h2>
            
                                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            A library management system is a software solution designed to help libraries efficiently manage their collections, circulation, patrons, and other library operations. It provides features such as cataloging, circulation management, patron management, and reporting capabilities.
                                        </div>
                                    </div>
                                </div>
            
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        What are the key features of a library management system?
                                    </button>
                                    </h2>
            
                                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Key features of a library management system include cataloging and indexing of library materials, circulation management, patron management, reservation and hold capabilities, reporting and analytics, integration with online resources and databases, and user-friendly interfaces for both staff and patrons.
                                        </div>
                                    </div>
                                </div>
            
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        How can a library management system benefit libraries?
                                    </button>
                                    </h2>
            
                                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            A library management system can benefit libraries by streamlining library operations, improving accessibility to library resources, enhancing patron services, increasing staff efficiency, facilitating resource sharing and collaboration, and providing valuable insights through data analysis and reporting.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            
                    </div>
                </div>
            </section>
            

            <section class="contact-section section-padding section-bg" id="section_5">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-12 col-12 text-center">
                            <h2 class="mb-5">Get in touch</h2>
                        </div>

                        <div class="col-lg-5 col-12 mb-4 mb-lg-0">
                            <img src="{% static 'img/contact.png'%}" class="topics-detail-block-image img-fluid" alt="Library Image">
                        </div>

                        <div class="col-lg-3 col-md-6 col-12 mb-3 mb-lg- mb-md-0 ms-auto">
                            <h4 class="mb-3">Library Location</h4>
                            <p>Tv Boundary Road, Khulna, 9000, Bangladesh</p>

                            <hr>

                            <p class="d-flex align-items-center mb-1">
                                <span class="me-2">Phone</span>
                                <a href="tel: +1234567890" class="site-footer-link">+1234567890</a>
                            </p>

                            <p class="d-flex align-items-center">
                                <span class="me-2">Email</span>

                                <a href="mailto:info@company.com" class="site-footer-link">
                                    library@example.com
                                </a>
                            </p>
                        </div>

                        <div class="col-lg-3 col-md-6 col-12 mx-auto">
                            <h4 class="mb-3">Dhaka Location</h4>

                            <p>19/B, Road 3, Dhanmondi, Dhaka-1205, Bangladesh</p>

                            <hr>

                            <p class="d-flex align-items-center mb-1">
                                <span class="me-2">Phone</span>

                                <a href="tel: 110-220-3400" class="site-footer-link">
                                    +1234567890
                                </a>
                            </p>

                            <p class="d-flex align-items-center">
                                <span class="me-2">Email</span>

                                <a href="mailto:info@company.com" class="site-footer-link">
                                    info@company.com
                                </a>
                            </p>
                        </div>

                    </div>
                </div>
            </section>
        </main>


        {% endblock %}
