{% extends 'base.html' %} 
{% load crispy_forms_tags %} 

{% block content %}

{% if form.non_field_errors %}
  {% for error in form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
      {{ error }}
    </div>
  {% endfor %}
{% endif %} 
<div class="container  mb-4 p-5" style="margin-top:70px; background-color:#F0F8FF;">
  <div class="row justify-content-center">
  <div class="col-md-9">
  <div class="card border-0 rounded">
    <div class="card-body">
      <h1 class="card-title text-center mb-4">Update Your Profile</h1>
      <form method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="mb-3">
          <a class="btn custom-btn" href="{%  url 'password_change'%}">Change Your Password</a>
      </div>
        {% for hidden_field in form.hidden_fields %}
          {{ hidden_field.errors }}
          {{ hidden_field }}
        {% endfor %}
        {% for field in form %}
                          <div class="mb-3">
                              {{ field.label_tag }}
                              {{ field }}
                              {% if field.errors %}
                                  {% for error in field.errors %}
                                      <p class="text-danger">{{ error }}</p>
                                  {% endfor %}
                              {% endif %}
                          </div>
                      {% endfor %}

        <!-- Submit button -->
        <div class="text-center mt-4">
          <button class="btn custom-btn" type="submit">Update Profile</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
</div>

{% endblock %}
