{% extends 'base.html' %}
{% load static %}   
{% block content %} 


{% if form.non_field_errors %}
<div class="alert alert-danger">
  {% for error in form.non_field_errors %}
    <p>{{ error }}</p>
  {% endfor %}
</div>
{% endif %}


<div class="section-padding section-bg container">
  <div class="row justify-content-center">
    <!-- Image column -->
    <div class="col-md-4 mt-5">
      <img src="{% static 'img/login.png' %}" class="img-fluid" alt="Image">
    </div>
    
    <!-- Form column -->
    <div class="col-md-6 mt-5">
      <div class="card border-0">
        <div class="card-body">
          <h1 class="card-title text-center pb-4">Login</h1>
          <form method="post" class="border rounded px-3 pt-3 pb-4">
            {% csrf_token %}
            {% for hidden_field in form.hidden_fields %}
              {{ hidden_field.errors }}
              {{ hidden_field }}
            {% endfor %} 

            {% for field in form.visible_fields %}
              <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                <input class="form-control" name="{{ field.name }}" id="{{ field.id_for_label }}" type="{{ field.widget_type }}">
                {% if field.errors %}
                  {% for error in field.errors %}
                    <small class="text-danger">{{ error }}</small>
                  {% endfor %}
                {% endif %}
              </div>
            {% endfor %}

            <div class="text-center">
              <button class="btn btn-primary mt-3" type="submit">Log In</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
